<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Cornellus</title>
    <link rel="stylesheet" href="/css/l-r-styles.css">
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="stylesheet" href="css/footstyle.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 id="web-site-name"><img src="/images/cornellusv1.png" alt="" onclick="window.location.href='/';"></h1>
        </header>
        <div class="l-r-container">
            <h1>You have succesfully verified your email.&nbsp;&nbsp;<i style="color: #66DE93;"
                    class="fas fa-check-circle 9x"></i></h1>
            <button class="hoverable-f-r-btn"
                style="padding:5px; background-color:#66DE93; border-radius:3px; font-size:16px; margin-top:60px; cursor:pointer; font-family:'Courier New', Courier, monospace; font-weight:bolder; "
                onclick="window.location.href='/userhome';">Go to your Cornellus.</button>
        </div>

        <footer class="footer">
            <div class="social-links">
                <a class="emailtag" href = "mailto: bugra.gundogan@hotmail.com"><i class="fas fa-envelope-square"></i></a>
            </div>
            <p>Copyright &copy; 2021 Buğra Gündoğan</p>
        </footer>
    </div>
</body>

</html>