<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pomodoro.css">
    <title>Cornellus - Pomodoro</title>
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/footstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="description" content="Cornellus is a free platform where everything about study comes together, designed for people who love taking notes, and for people who love using the 'Cornell Note Taking System' and Pomodoro!">
    <meta name="keywords" content="Online Study, Online Studying, Study, Studying, Pomodoro, Cornell Note, Cornell Note Taking, Calculator, Scientific Calculator, Free Note Taking, Online Free Office, Pomodoro">
    <meta name="author" content="Buğra Gündoğan, Bugra Gundogan">
</head>

<body>
    <div class="container">
        <div class="second-container">
            <nav>
                <h1 id="web-site-name"><img src="images/cornellusv1.png" width="200px" alt=""
                        onclick="window.location.href='/';">
                </h1>
                <div class="nav-buttons">
                    <% if(loggedin){ %>

                        <h3><i class="fas fa-sticky-note hoverable-logout" onclick="window.location.href='/userhome';"
                            data-tooltip="My Notes"></i>
                        <p class="tooltip">My Notes</p>
                    </h3>
                    <h3><i class="fas fa-door-open hoverable-logout" onclick="window.location.href='/logout';"
                            data-tooltip="Log out"></i>
                        <p class="tooltip">Log out</p>
                    </h3>
                    <%}else{%>
                        <h3 class="reglogheader" onclick="window.location.href='/register';">SIGN UP</h3>
                        <h3 class="reglogheader" onclick="window.location.href='/login';">SIGN IN</h3>
                    <% } %>
                </div>
            </nav>
            <main>
                <div class="options">
                    <div class="task-list-bg">
                        <h3>TASK LIST</h3>
                        <div class="task-list-fg">
                            <div id="taskli" class="task-list">
                                <div id="firstli" class="list-item">
                                    <input id="new-li-input" type="text">
                                    <i onclick="addnewtaskitem();" id="add-new-li-btn" class="fas fa-plus-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pomo-commands">
                        <button class="longbtn" onclick="fullpomodoro();">Start a full pomodoro session</button>
                        <button onclick="twentyfstudy();">Start 25 minutes study</button>
                        <button onclick="fivebreak();">Start 5 minutes break</button>
                        <button onclick="clearTimer();">Finish Session</button>
                    </div>
                </div>
    
                <div class="pomo-timer-holder">
                    <h1 id="pomodoroslogan" class="pomo-slogan">STUDY TIME!</h1>
                    <img id="pomo-image-id" src="images/sandwatch.png" class="pomo-image" alt="">
                    <p id="countdown">25:00</p>
                </div>
            </main>
            <div id="sticky">
                <h3 onclick="window.location.href='#howto'"><i class="far fa-question-circle"></i></h3>
            </div>
        </div>
        <section id="howto" class="intructions">
            <h3>How to:</h3>
            <div class="instruct-container">
                <div class="instruct-spec-holder">
                    <h2>1</h2>
                    <p><br>Set up your tasks. <br> <br> Start either full pomodoro session, or a 25 minute long study session.<br>&nbsp;</p>
                </div>
                <div class="instruct-spec-holder">
                    <h2>2</h2>
                    <p><br> After each study session, mark the completed tasks. And take a break for five minutes.</p>
                </div>
                <div class="instruct-spec-holder">
                    <h2>3</h2>
                    <p><br>A full pomodoro session consists of four 25 minute long study sessions. After the fourth study, you should take a 30 minute break before studying again.</p>
                </div>
            </div>
            <img src="images/pomo-instructions.jpg" alt="">
        </section>
        <footer>
            <div class="social-links">
                <a class="emailtag" href = "mailto: bugra.gundogan@hotmail.com"><i class="fas fa-envelope-square"></i></a>
            </div>
            <p class="copy-right-shit">Copyright &copy; 2021 Buğra Gündoğan</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="pomodoro.js"></script>
    <script>
        var navbuttons = document.getElementsByClassName("hoverable-logout");

        for (let index = 0; index < navbuttons.length; index++) {
            const element = navbuttons[index];
            element.addEventListener('mouseenter', e => {
                element.parentElement.lastElementChild.style.display = "block";
            });
            element.addEventListener('mouseleave', e => {
                element.parentElement.lastElementChild.style.display = "none";
            })
        }
    </script>
</body>

</html>