*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoverable-f-r-btn:hover{
    cursor: pointer;
}

.header{
    width: 100%;
    background-color: white;
    box-shadow: 1px 34px 13px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 34px 13px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 34px 13px 0px rgba(0,0,0,0.12);
    padding:8px;
}

#web-site-name img{
    width: 200px;
}

.form-holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    margin-top: 50px;
    width: 320px;
    height: 380px;
    background-color: #7C83FD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}